<!-- params[:propcess_name]が存在すれば、provideメソッドにparams[:process_name]を渡す --!>
<!-- params[:propcess_name]が存在しなければ, provideメソッドにparams[:commit]を渡す --!>
<!-- renderされるときは パラメータを渡せないので、既に存在するパラメータを利用する(params[:commit]) --!>
<% params[:process_name] ? provide(:process_name, params[:process_name]) : provide(:process_name, params[:commit]) %>

<h1><%= "#{yield(:propcess_name)}処理　　#{@stock.item.name}" %></h1>

<%= form_with(model: @stock_form, url: stock_path, method: :patch, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <!-- 出庫数 -->
    <%= "#{yield(:process_name)}数" %>
    <%= f.number_field :process_number, min: 1 %>

    <!-- 日付 --!>
    <%= "#{yield(:process_name)}日" %>
    <%= f.date_field :day, value: Date.today %>

    <!-- 使用目的　--!>
    <% if yield(:process_name) == "出庫" %>
        <%= "使用目的" %>
        <%= f.text_field :purpose %>
    <% end %>

    <!-- 処理担当 --!>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <!-- 処理名 --!>
    <%= f.hidden_field :process, :value => "#{yield(:process_name)}" %>

    <!-- 在庫品名 --!>
    <%= f.hidden_field :item_id, :value => @item.id %>
    
    <%= f.submit yield(:process_name), class: "btn btn-primary" %>

<% end %>