<table class="column_table">
	<thead>
		<tr>
			<th>品名</th>
			<th>在庫数</th>
			<th>処理</th>
		</tr>
	</thead>
	<tbody>
      <% @items.each do |item| %>
		<tr>
			<th><%= item.name %></th>
			<td><%= item.stock.number %> <%= item.unit %></td>
			<td>
                <div>
                    <%= link_to "出庫", edit_stock_path(item.stock, process_name: "出庫"), 
                                                        class: "btn btn-warning" %>
                
                    <%= link_to "入庫", edit_stock_path(item.stock, process_name: "入庫"), 
                                                        class: "btn btn-info" %>
                </div>
            </td>
		</tr>
      <% end %>
	</tbody>
</table>

<div>
    <%= link_to "在庫品を追加する", new_item_path %>
</div>

