<tr>
    <td><%= report.day %></td>
    <td><%= report.process %></td>
    <td><%= report.item.name %></td>
    <td><%= report.process_number %></td>
    <td><%= report.item.unit %></td>
    <td><%= report.user.name %></td>
    <td><%= report.purpose %></td>
    <td>
        <!-- confirmationがfalseなら未入力を,trueなら入力済を表示 --!>
        <%= report.confirmation == false ? "未入力" : "入力済" %>
        <%= link_to "入力を確認する", report_path(report), method: :patch, 
                                    data: { confirm: "顧客管理ソフトに入力しましたか？" } %>
    <td>
        <%= report.confirmer.name if report.confirmer %>
    </td>
</tr>