<li>
    <%= report.day %>
    <%= report.user %>
    <%= report.item %>
    <%= report.process %>
    <%= report.process_number %>
    <%= report.purpose %>
    <%= report.confirmar %>
    <%= report.confirmation %>

      <!--| <%= link_to "delete", user, method: :delete,data: { confirm: "You sure?" } %> -->
</li>

