<div>
    月で絞込み
    <%= form_with url: reports_path, local: true, method: :get do |f| %>
        <%= f.month_field :month %>
        <%= f.submit "絞込み", class: "btn btn-primary" %>
    <% end %>
</div>
<div>
    絞込み条件 | <%= l(Date.parse("#{@month}" + "-1"), format: :short) %>
</div>
<table class="table">
    <tr>
        <th>処理日</th>
        <th>処理名</th>
        <th>品名</th>
        <th>数量</th>
        <th>単位</th>
        <th>担当者</th>
        <th>使用目的</th>
        <th>入力確認</th>
        <th>確認者</th>
    </tr>
<%= render @reports %>

</table>
<%= will_paginate %>