<div>
    絞込み
    <%= form_with(url: reports_path, scope: :key, local: true, method: :get) do |f| %>
        
        <%= f.date_field :from %>から
        <%= f.date_field :to %>まで

        <%= f.label :品名 %>
        <%= f.collection_select :item_id, @items, :id, :name, include_blank: true %> 

        <%= f.submit "絞込み", class: "btn btn-primary" %>
    <% end %>
</div>
<div>
    絞込み条件 | <%= l(Date.parse("#{@from}"), format: :short) + "から" if @from.present? %>
               <%= l(Date.parse("#{@to}"), format: :short) + "まで" if @from.present? %>
               <%= "品名" + @item.name if @item.present? %>
</div>
<div class="table-responsive">
    <table class="report_table">
        <thead>
            <tr>
                <th>日付 処理名</th>
                <th>品名</th>
                <th>数量 単位</th>
                <th>担当者</th>
                <th>使用目的</th>
                <th>入力確認</th>
                <td class="non"></td>
            </tr>
        </thead>
    <%= render @reports %>

    </table>
</div>
<%= will_paginate %>

